# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
.DS_Store
*.log
Logs/

# Angular & Node
node_modules/
dist/
.angular/
.env
.env.local

# IDE
.vscode/
*.code-workspace

# Build artifacts
*.d.ts
*.js.map
*.spec.js

# OS
Thumbs.db
